:root {
  --primary: #f74d04;
  --bg: #f5f3f0;
  --transparent-primary: #ea885f;
}

html,
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg);
  font-family: 'Poppins', sans-serif;
  /* overflow-x: scroll; */
}

/* Navigasi start */
.navbar {
  background-color: rgb(23, 31, 31);
  width: 280px;
  height: 100%;
  position: fixed;
  z-index: 999;
}

.navbar h1 {
  position: relative;
  left: -60px;
  color: #f5eedd;
  background-color: var(--primary);
  height: 90px;
  text-align: center;
  width: 380px;
  line-height: 90px;
  border-radius: 50px;
  padding-left: 30px;
}

.navbar div {
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 60px;
}

.navbar .menu-nav {
  text-decoration: none;
  color: rgb(201, 193, 193);
  font-size: large;
  transition: font-size 0.2s;
}

.navbar div .menu-nav {
  padding-left: 20px;
}

.navbar div .icon {
  scale: 0.8;
  color: rgb(201, 193, 193);
  margin-top: 4px;
}

.navbar div:hover {
  background-color: rgb(47, 46, 46);
}

.navbar a:hover {
  font-size: 23px;
  color: whitesmoke;
}

.navbar .container-dashboard {
  margin-top: 10px;
}

.navbar .container-produk a {
  color: var(--primary);
  font-size: 20px;
}

.navbar .container-produk .utama {
  color: var(--primary);
  scale: 1;
}
/* navigasi end */

/* header */
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  padding-left: 350px;
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(211, 218, 218);
  position: fixed;
}

/* .profile #profile {
    text-align: center;
    padding: 5px 5px 0;
    width: 40px;
    height: 40px;
    border: 3px solid darkgray;
    padding: 0.5px;
    border-radius: 50%;
  } */

#batas {
  height: 80px;
}
/* header end */

/* Fitur Tambahan */
.fitur-tambahan {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 290px;
  width: 1400px;
  display: flex;
  /* border: 1px solid black; */
}
/* Pencarian Start */

.pencarian {
  margin-left: -160px;
}

.pencarian button {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #dd5a21;
  background-color: var(--transparent-primary);
  color: white;
  cursor: pointer;
}

.pencarian button:hover {
  background-color: #ca714b;
}

.pencarian input {
  width: 300px;
  height: 30px;
  border-radius: 8px;
  padding: 8px;
  border: 1.5px solid rgb(155, 167, 167);
}
/* Pencarian End */

/* Sorting Start */
.sorting {
  margin-right: -180px;
}

.sorting select {
  margin-left: 10px;
  width: 200px;
  height: 30px;
  border-radius: 4px;
}
/* Storting End */

/* Kolom Manajemen Produk Start*/
.container-manajemen-produk {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 300px;
  width: 1400px;
  height: 500px;
  display: flex;
  /* border: 2px solid black; */
}

.container-manajemen-produk .kolom {
  flex-direction: column;
  background-color: white;
  width: 1200px;
  height: auto;
  border: 1px solid rgb(155, 167, 167);
  overflow: auto;
}

.container-manajemen-produk .icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 70px;
  padding: 0 10px;
  border-bottom: 4.5px solid var(--primary);
  background-color: var(--bg);
  width: 1199px;
  border-right: 1px solid rgb(155, 167, 167);
  position: fixed;
}

.container-manajemen-produk .icon .keterangan {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: medium;
  width: 100px;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.container-manajemen-produk .icon .keterangan #feather-icon {
  margin-top: 5px;
}

.container-manajemen-produk .icon .tambah-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  background-color: var(--transparent-primary);
  border-radius: 12px;
  border: 1px solid #dd5a21;
}

.container-manajemen-produk .icon .tambah-data a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: Medium;
}

.container-manajemen-produk .icon .tambah-data:hover {
  background-color: #ca714b;
  cursor: pointer;
}

.container-manajemen-produk .kolom .tb_produk {
  margin: 85px auto 15px;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  font-size: 12px;
}

.container-manajemen-produk .kolom .tb_produk a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: auto;
  border-radius: 5px;
  background-color: var(--transparent-primary);
  text-decoration: none;
  color: white;
  border-width: 0.5px;
}

.container-manajemen-produk .kolom .tb_produk .btn_hapus a {
  background-color: red;
  cursor: pointer;
}

td,
th {
  border: 1px solid black;
  padding: 20px 45px;
}

th {
  background-color: rgb(219, 210, 210);
}

td:nth-child(6) {
  display: flex;
}
/* Kolom Manajemen Produk End */
